/.bundle/
/.yardoc
/Gemfile.lock
/_yardoc/
/coverage/
/doc/
/pkg/
/spec/reports/
/tmp/
/*.gem

# rspec failure tracking
.rspec_status
sample_code

.byebug_history
# *.cr

test.rb
test.cr

util/post_process
util/post_process_crystal/lib/
